# README

Python2 and Python3 notebooks are available.

In [1]:
%load_ext version_information
%version_information

Software versions
Python 3.5.3 64bit [GCC 6.3.0 20170118]
IPython 5.1.0
OS Linux 4.9.0 2 amd64 x86_64 with debian 9.0
Sun May 28 20:05:22 2017 UTC

Global variables (PGHOST, etc.) are predefined to access the MusicBrainz database; you can for example perform the following SQL query:

In [2]:
sql_beethoven = """
SELECT gid, name, begin_date_year, end_date_year 
  FROM artist 
 WHERE name='Ludwig van Beethoven'
"""

either using the psycopg2 library:

In [3]:
import psycopg2
with psycopg2.connect(host=PGHOST, database=PGDATABASE, 
                      user=PGUSER, password=PGPASSWORD) as cnx:
    crs = cnx.cursor()
    crs.execute(sql_beethoven)
    for result in crs:
        print(result)

('1f9df192-a621-4f54-8850-2c5373b7eac9', 'Ludwig van Beethoven', 1770, 1827)

or PanDas and SQLalchemy:

In [4]:
import sqlalchemy
import pandas
engine = sqlalchemy.create_engine(
   'postgresql+psycopg2://{PGUSER}:{PGPASSWORD}@{PGHOST}/{PGDATABASE}'.format(**locals()),
    isolation_level='READ UNCOMMITTED'
)
pandas.read_sql(sql_beethoven, engine)

,gid,name,begin_date_year,end_date_year
0,1f9df192-a621-4f54-8850-2c5373b7eac9,Ludwig van Beethoven,1770,1827